<!DOCTYPE html>
<html lang="en" ng-app="IoT">
<head>
    <meta charset="UTF-8">
    <title>T-Systems IoT Cafe</title>
    <link rel="icon" href="favicon.png">
    <link rel="stylesheet" type="text/css"
          href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.2/semantic.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.2/semantic.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.1/angular.min.js"></script>
    <script src="IotApp.js"></script>
    <link href="style.css" rel="stylesheet" type="text/css">
</head>
<body ng-controller="main">

<div class="pushable">
    <div class="ui left vertical inverted sidebar labeled icon menu">
        <a ng-click="openMainPage()" class="item">
            <i class="home icon"></i>
            Main page
        </a>
        <a ng-click="openStatisticsPage()" class="item">
            <i class="users icon"></i>Statistics
        </a>
        <a ng-click="openInformationPage()" class="item">
            <i class="info letter icon"></i>
            System information
        </a>
    </div>
    <div class="pusher">
        <div class="following bar">
            <div class="ui inverted menu">
                <div class="ui container">
                    <a class="view-ui item" onclick="$('.ui.sidebar').sidebar('toggle');">
                        <i style="color: white" class="big sidebar icon"></i>
                        Menu
                    </a>
                    <img class="item" src="t_logo.png" height="100" width="150"/>
                    <h1 style="top : -13px; left: -10px;" class="item">T-Systems IoT cafe.</h1>
                </div>

            </div>
        </div>

        <div id="mainPage" ng-show="mainPageOpen">
            <div style="margin-top: 18%" class="ui container center aligned">
                <div id="coffeeButton">
                    <i id="coffee" onmouseover="$('.coffee').transition('pulse')"
                       ng-click="makeCoffee()"
                       ng-disabled="!main.isConfigured"
                       style="font-size: 15em" class="massive coffee icon"></i>
                    <p id="statusMessage" style="font-size: 3em">Click to get a coffee!</p>
                </div>

                <!-- buttons -->
                <button id="smallCoffeeButton" ng-click="chooseSmallCoffee()" class="ui button massive active" >SMALL</button>
                <button id="largeCoffeeButton" ng-click="chooseLargeCoffee()" class="ui button massive" >LARGE</button>

                <div id="loadingDiv" style="display : none" class="ui">
                    <i style="font-size: 15em" class="notched circle loading icon"></i>
                    <p id="loadingText" style="font-size: 3em">Making up coffee</p>
                </div>
            </div>
        </div>

        <div id="statisticsPage" ng-show="statsPageOpen">
            <div style="margin-top: 10%" class="ui container center aligned">

                <div class="coffee-statistic">
                    <div class="cup-number">
                        <div class="title">Coffee</div>
                        <div class="cup">
                            <img src="cup.svg" />
                            <span>12</span>
                        </div>
                    </div>
                    <div class="distance">
                        <div class="title">Distance</div>
                        <div class="circle">
                            <span>12</span>
                        </div>
                    </div>
                </div>

                <div class="chart">
                    <span class="y-axis one"></span>
                    <span class="y-num twenty">20</span>
                    <span class="y-axis two"></span>
                    <span class="y-num forty">40</span>
                    <span class="y-axis three"></span>
                    <span class="y-num sixty">60</span>
                    <span class="y-axis four"></span>
                    <span class="y-num eighty">80</span>

                    <span class="x-axis five"></span>
                    <span class="x-num start">16:00</span>
                    <span class="x-axis six"></span>
                    <span class="x-num end">17:00</span>
                    <span class="x-axis seven"></span>
                    <span class="x-num extra">18:00</span>

                    <div class="chart-bar"></div>
                </div>


            </div>
        </div>

        <div id="systemInformationPage" ng-show="sysInfPageOpen">
            <div style="margin-top: 20%" class="ui container center aligned">
                System Information
            </div>
        </div>

    </div>
</div>
</body>
</html>