
/* buttons styles */
.ui.button {
	background:#fff;
	border:5px solid #000;
	color:#000;
	margin:1em .5em;
	border-radius: .68571429rem;
}
.ui.button.active {
	background:#000;
	color:#fff;
}
.ui.button:hover, .ui.button.active:hover {
	background:#000;
	color:#fff;
}

/* statistic */
.coffee-statistic {
	width:700px;
	margin:0 auto;
	clear:both;
	overflow:hidden;
}
.cup-number {
	width:260px;
	position:relative;
	float:left;
}
.title {
	font-size:42px;
	font-weight:bold;
	margin-bottom:.6em;	
	margin-top: .6em;
	text-transform: uppercase;
}
.cup-number .cup img {
	width:260px;
}
.cup-number .cup span {
	position:absolute;    
	font-size: 7em;
    font-weight: bold;
    left: 0;
    top: 50%;
    width:250px;
    text-align:center;
}
.distance {
	float:left;
	margin-left:8em;
}
.distance .circle {
	width:310px;
	height:310px;
	line-height:310px;
	text-align:center;
	border:32px solid #000;
	border-radius:100%;    
	position: relative;
    top: .4em;
}
.distance .circle span {
	font-size: 7em;
	position:relative;
	top:-.4em;
    font-weight: bold;
}
/* rect statistic */
.coffee-statistic-rect {
	width:700px;
	margin:0 auto;
	clear:both;
	overflow:hidden;
}
.coffee-statistic-rect div {
	border:8px solid #000;
	width:300px;
	padding:.6em .4em;
	border-radius:20px;
	float:left;
	font-size:7em;
	font-weight:bold;
	
}
.coffee-statistic-rect div:first-child {
	margin-right:.5em;
}
.coffee-statistic-rect div span {
	display:block;
	margin-bottom:1.4em;
	font-size:42px;
	text-transform: uppercase;
}
/* custom chart */
.chart {
	margin:3em auto;
	clear:both;
	width:700px;
	height:410px;
	border-left:2px solid #000;
	border-bottom:2px solid #000;
	position:relative;
	font-size:2em;           		
}
.y-axis {
    color:#000;
    position:absolute;
    left:-7px;
    border-bottom:2px solid #000;
    width:5px;
}
.y-axis.one {bottom:100px;}
.y-axis.two {bottom:200px;}
.y-axis.three {bottom:300px;}
.y-axis.four {bottom:400px;}
.y-num {
    color:#000;
    position:absolute;
    left:-45px;
}
.y-num.twenty {bottom:94px;}
.y-num.forty {bottom:194px;}
.y-num.sixty {bottom:294px;}
.y-num.eighty {bottom:394px;}

.x-axis {
    color:#000;
    position:absolute;
    bottom:-7px;
    border-left:2px solid #000;
    height:5px;
}
.x-axis.five {left:200px;}
.x-axis.six {left:400px;}
.x-axis.seven {left:600px;}
.x-num {
    color:#000;
    position:absolute;
    bottom:-45px;
}
.x-num.start {left:165px;}
.x-num.end {left:365px;}
.x-num.extra {left:565px;}

.chart-bar {
	position:absolute;
	background:#000;
	color:#fff;
	bottom:0;
	
	left:200px;
	width:100px;
	height:200px;
}